.NotionItem {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Title {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-100);
}

.Body {
  margin-top: 5px;
}
.Body:empty {
  display: none;
}
.Description {
  font-size: 10px;
  color: var(--grey-500);
}

.Badges {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.Badges:empty {
  display: none;
}

.Date {
  margin-top: 10px;
  flex: 0 0 auto;
  color: var(--grey-500);
  font-size: 8px;
}
