.Text {
  display: block;
  text-box-trim: trim-both;
}

.TextSmall {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-small);
  letter-spacing: var(--text-letter-spacing-small);
}
.TextMedium {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-medium);
  letter-spacing: var(--text-letter-spacing-medium);
}
.TextLarge {
  font-size: var(--text-size-large);
  font-weight: var(--text-weight-large);
  letter-spacing: var(--text-letter-spacing-large);
}
.TextExtraLarge {
  font-size: var(--text-size-extra-large);
  font-weight: var(--text-weight-extra-large);
  letter-spacing: var(--text-letter-spacing-extra-large);
}
