.Pagination {
  --size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Item {
  flex: 0 0 var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}

.Item.Active {
  background-color: var(--primary);
  color: var(--white);
}

.ItemPrev img {
  display: block;
  transform: rotateZ(180deg);
}

.Item.Disabled {
  color: var(--grey-500);
  box-shadow: none;
}
.Item.Disabled img {
  opacity: 0.3;
}

.ArrowLeft {
  transform-origin: center;
  transform: rotateZ(90deg);
}
.ArrowRight {
  transform-origin: center;
  transform: rotateZ(-90deg)
}
