.Select {
  display: block;
  width: 100%;

  background-color: var(--control-background-color);
  border: 1px solid var(--control-border-color);
  border-radius: var(--control-border-radius);

  position: relative;
}

.Control {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: var(--control-padding-block);
  padding-inline: var(--control-padding-inline);

  font-size: var(--control-font-size);
  line-height: var(--control-line-height);
  color: var(--control-text-color);
  font-weight: var(--control-font-weight);

  overflow: hidden;
}

.Label {
  font-size: var(--control-font-size);
  line-height: var(--control-line-height);
  color: var(--control-text-color);
  font-weight: var(--control-font-weight);
}
.Chevron {
  height: var(--control-line-height);
  width: var(--control-line-height);
  color: var(--control-text-color);
}

.Dropdown {
  display: block;
  width: 100%;

  position: absolute;
  top: 100%;

  padding-block: var(--control-padding-block);
  border-radius: var(--control-border-radius);

  display: flex;
  flex-direction: column;

  background-color: var(--control-background-color);
  border: 1px solid var(--control-border-color);
}
.Select:not(.Opened) .Dropdown {
  display: none;
}

.Option {
  width: 100%;

  padding-block: var(--control-padding-block);
  padding-inline: var(--control-padding-inline);

  font-size: var(--control-font-size);
  line-height: var(--control-line-height);
  color: var(--control-text-color);
  font-weight: var(--control-font-weight);
}