.GroupItem {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
}

.Title {
  font-weight: 500;
  color: var(--grey-100);
}
.Date {
  color: var(--grey-500);
}
