.Flex {
  display: flex;
}

.DirectionVertical {
  flex-direction: column;
}
.DirectionHorizontal {
  flex-direction: row;
}

.AlignStretch {
  align-items: stretch;
}
.AlignStart {
  align-items: flex-start;
}
.AlignCenter {
  align-items: center;
}
.AlignEnd {
  align-items: flex-end;
}

.JustifyStart {
  justify-content: flex-start;
}
.JustifyCenter {
  justify-content: center;
}
.JustifyEnd {
  justify-content: flex-end;
}
.JustifySpaceBetween {
  justify-content: space-between;
}

.GapLarge {
  gap: 24px;
}
.GapMedium {
  gap: 12px;
}
.GapSmall {
  gap: 8px;
}
.GapExtraSmall {
  gap: 4px;
}
.GapZero {
  gap: 0px;
}
