.Flex {
  display: flex;
}

.DirectionVertical {
  flex-direction: column;
}
.DirectionHorizontal {
  flex-direction: row;
}

.GapLarge {
  gap: 24px;
}
.GapMedium {
  gap: 12px;
}
.GapSmall {
  gap: 8px;
}
