.ColorIndicator {
  --size: 14px;

  width: var(--size);
  height: var(--size);
  flex: 0 0 var(--size);
  border-radius: var(--size);

  background-color: var(--color);
}

.Small {
  --size: 10px;
}
.Medium {
  --size: 14px;
}
.Large {
  --size: 18px;
}
.ExtraLarge {
  --size: 24px;
}
