.Checkbox {
  --size: 16px;

  width: var(--size);
  height: var(--size);
  flex: 0 0 var(--size);

  display: grid;
  place-items: center;

  background-color: var(--control-background-color);
  border: 1px solid var(--control-border-color);
  border-radius: 4px;

  overflow: hidden;
  position: relative;

  transition: var(--transition);
}
.Checkbox.Checked {
  border-color: var(--primary);
}

.Control {
  width: 0px;
  height: 0px;

  appearance: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.Fill {
  width: 100%;
  height: 100%;
  
  display: grid;
  place-items: center;

  background-color: var(--primary);
  transition: var(--transition);
}
.Checkbox:not(.Checked) .Fill {
  opacity: 0;
}

.Check {
  color: var(--white);
}
.Checkbox:not(.Checked) .Check {
  opacity: 0;
}
