.NotionBlockItem {
  padding: 10px;
  border-radius: 10px;
}

.Header {
  width: 100%;
}
.Body {
  width: 100%;
  margin-top: 5px;
}
.Footer {
  width: 100%;
  margin-top: 10px;
}

.Title {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-100);
}
.Date {
  font-size: 8px;
  color: var(--grey-500);
}
.Description {
  font-size: 10px;
  color: var(--grey-500);
}