.TextField {
  display: block;
  width: 100%;

  color: var(--control-text-color);  
  resize: none;
}

.TextField.VariantBase {
  border: 1px solid var(--control-border-color);
  border-radius: var(--control-border-radius);
  
  padding-block: var(--control-padding-block);
  padding-inline: var(--control-padding-inline);
}
