@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);

:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;

  --grey-900: #FCFCFC;
  --grey-800: #EBEBEB;
  --grey-700: #DDDDDD;
  --grey-600: #BBBBBB;
  --grey-500: #999999;
  --grey-400: #777777;
  --grey-200: #222222;
  --grey-100: #111111;

  --primary: #7F78FF;

  --blue: #052acc;
  --green: #05CC30;
  --yellow: #FFD940;
  --orange: #ff9640;
  --red: #F74820;

  /* layers */
  --notifications-z-index: 15;
  --header-z-index: 10;
  --sidebar-z-index: 5;
  --action-button-z-index: 3;
  --dropdown-z-index: 2;

  /* sizes */
  --container-padding-inline: 15px;

  /* design */
  --shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  --transition: 0.3s;
  
  /* texts */
  --text-size-small: 10px;
  --text-size-medium: 14px;
  --text-size-large: 18px;
  --text-size-extra-large: 24px;

  --text-weight-small: 400;
  --text-weight-medium: 400;
  --text-weight-large: 600;
  --text-weight-extra-large: 600;

  --text-letter-spacing-small: 0px;
  --text-letter-spacing-medium: 0px;
  --text-letter-spacing-large: -0.03em;
  --text-letter-spacing-extra-large: -0.03em;

  /* controls */
  --control-background-color: var(--white);
  --control-border-color: var(--grey-700);
  --control-border-radius: 8px;

  --control-text-color: var(--grey-100);
  --control-font-weight: 500;

  --control-placeholder-color: var(--grey-500);
  --control-padding-block: 6px;
  --control-padding-inline: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;

  font-family: 'Inter', system-ui, sans-serif;
  font-size: var(--text-size-medium);
  color: var(--grey-100);
}

#root {
  width: 100%;
  min-height: 100%;
  
  display: flex;
  flex-direction: column;
}

/* null */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
input, textarea {
  border: none;
  outline: none;
  padding: 0px;
  background: transparent;
  font: inherit;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit;
}
label {
  display: block;
  margin: 0;
}
p {
  margin: 0;
}
