@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);

:root {
  --white: #ffffff;
  --black: #000000;

  --grey-900: #FCFCFC;
  --grey-800: #EBEBEB;
  --grey-700: #DDDDDD;
  --grey-600: #BBBBBB;
  --grey-500: #999999;
  --grey-400: #777777;
  --grey-200: #222222;
  --grey-100: #111111;

  --primary: #7F78FF;
  --green: #05CC30;
  --yellow: #FFD940;
  --red: #F74820;

  --header-z-index: 10;
  --sidebar-z-index: 5;
  --action-button-z-index: 3;
  --dropdown-z-index: 2;

  --transition: 0.3s;
  
  /* theme */
  --control-background-color: var(--white);
  --control-border-color: var(--grey-700);
  --control-border-radius: 8px;

  --control-font-size: 12px;
  --control-line-height: 16px;
  --control-text-color: var(--grey-100);
  --control-font-weight: 500;

  --control-placeholder-color: var(--grey-500);
  --control-padding-block: 6px;
  --control-padding-inline: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;

  font-size: 14px;
  font-family: 'Inter', system-ui, sans-serif;
  color: var(--grey-100);
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: var(--grey-900);
}

/* null */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  padding: none;
  font: inherit;
  color: inherit;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit;
}
label {
  display: block;
  margin: 0;
}
p {
  margin: 0;
}
